canvas {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    width: 90%;
    height: 90%;
    margin: auto;
    display: block;
    position: absolute;
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}

/* Main menu */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input, select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #52a4b8;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #3e87ca;
    text-decoration: none;
}
.form button:hover,
.form button:active,
.form button:focus {
    background: #438aa0;
}
body {
    background: #52a4b8;
    /* fallback for old browsers */
    
    background: -webkit-linear-gradient(right, #52a4b8, #6fafc2);
    background: -moz-linear-gradient(right, #52a4b8, #6fafc2);
    background: -o-linear-gradient(right, #52a4b8, #6fafc2);
    background: linear-gradient(to left, #52a4b8, #6fafc2);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Progress bar */
#myProgress {
    width: 100%;
    background-color: grey;
}
#myBar {
    width: 10%;
    height: 30px;
    background-color: #52a4b8;
    text-align: center;
    line-height: 30px;
    color: white;
}